body {
  margin-top: 20px;
  font-family: 'Press Start 2P', cursive;
  font-size: 16px;
  text-align: center;
}

button {
  font-family: 'Press Start 2P', cursive;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 30px;
}


h1 {
  font-size: 200px;
  text-align: center;
  margin-bottom: 30px
}

#canvas {
  margin-top: 50px;
}

#countdown {
  margin-bottom: 40px;
}
